@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro");
/*
This website was created with only 2.5 basic layouts in mind:
Mobile: intended for mobile devices with HD screens, default style (to view use chrome dev-tools, toggle device toolbar, set device type to mobile)
Desktop main: intended for regular PCs with HD and 4K displays, secondary style, uses media queries based on screen dppx ratio, min-width
Desktop portfolio: this section of the website changes it's layout based on the width of the viewport using some of the display: flex properties.
*/
body {
  min-width: 860px;
  margin: 0; }

* {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 36px;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px;
  margin-bottom: 4px; }

code {
  font-family: 'Source Code Pro', monospace; }

p {
  line-height: 1.4; }

.btn-link {
  font-weight: bold;
  padding: 2.5% 5%;
  margin-right: 3%;
  display: inline-block;
  border: 5px solid #366CD9;
  border-radius: 15px;
  color: white;
  background-color: #366CD9;
  text-decoration: none;
  -webkit-transition: all ease-in .125s;
  transition: all ease-in .125s; }
  .btn-link:hover {
    color: #366CD9;
    background-color: white; }
  .btn-link:active {
    color: white;
    background-color: #1f4ba4;
    -webkit-box-shadow: inset 0px 0px 10px 1px #366CD9;
            box-shadow: inset 0px 0px 10px 1px #366CD9; }

.headshot {
  float: left;
  width: 220px;
  background-color: white;
  border: 2px solid gray;
  padding: 10px;
  margin: 5px 20px 10px 0; }

.hire-me {
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center; }

@media only screen and (-webkit-max-device-pixel-ratio: 1.9), only screen and (max-resolution: 1.9dppx), only screen and (min-width: 1081px) {
  * {
    font-size: 16px; }

  h1 {
    font-size: 22px; }

  h2 {
    font-size: 22px; }

  h3 {
    font-size: 16px; }

  .btn-link {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #366CD9;
    border-radius: 5px; }

  .headshot {
    width: 160px;
    border: 1px solid gray;
    padding: 5px; }

  .hire-me {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center; } }
/*
██   ██ ███████  █████  ██████  ███████ ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
███████ █████   ███████ ██   ██ █████   ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
██   ██ ███████ ██   ██ ██████  ███████ ██   ██
*/
header {
  z-index: 10;
  position: fixed;
  top: 0;
  line-height: 100px;
  width: 100%;
  background-color: #366CD9; }
  header h1 {
    margin: 0;
    display: inline-block;
    position: relative;
    left: calc(3% + 100px);
    color: white; }
  header .menu {
    font-size: 0;
    display: block;
    width: 75px;
    height: 75px;
    left: 3%;
    top: 12.5px;
    position: absolute;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    background-image: url("../img/icons/menu-icon.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  header .header-logo {
    position: absolute;
    display: inline-block;
    width: 75px;
    height: 75px;
    top: 12.5px;
    right: 3%;
    font-size: 0;
    background-image: url("../img/icons/logo.svg");
    background-size: contain; }

nav {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  background-color: #366CD9;
  -webkit-box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
          box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
  width: 60%;
  top: 102px; }
  nav.show {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition-delay: 0s, 0s, 0.3s;
            transition-delay: 0s, 0s, 0.3s; }
  nav ul {
    padding: 0 8%;
    margin: 0; }
  nav li {
    list-style: none;
    border-top: 4px groove #618be1; }
  nav .current-page {
    display: none; }
  nav a {
    display: block;
    padding: 0.5% 3% 0.5% 88px;
    color: white;
    font-size: 44px;
    font-weight: normal;
    text-decoration: none; }

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media only screen and (-webkit-max-device-pixel-ratio: 1.9), only screen and (max-resolution: 1.9dppx), only screen and (min-width: 1081px) {
  header {
    z-index: 10;
    position: fixed;
    top: 0;
    line-height: normal;
    height: 75px;
    min-width: 860px;
    background-color: #366CD9; }
    header::after {
      height: 12px;
      width: 100%;
      content: " ";
      position: absolute;
      bottom: 0;
      background: #366CD9;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(transparent));
      background: linear-gradient(bottom, rgba(0, 0, 0, 0.2), transparent); }
    header h1 {
      display: none; }
    header .menu {
      display: none; }
    header .header-logo {
      position: absolute;
      display: inline-block;
      width: 50px;
      height: 50px;
      top: 12.5px;
      left: 10%;
      font-size: 0;
      background-image: url("../img/icons/logo.svg");
      background-size: contain; }
      header .header-logo::after {
        content: "BlocksDev.com";
        font-size: 22px;
        color: white;
        display: inline-block;
        position: absolute;
        left: 56px;
        top: 12.5px; }

  nav {
    position: static;
    top: 0;
    right: 0;
    visibility: visible;
    z-index: 1;
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 100%; }
    nav.show {
      visibility: visible;
      z-index: 1;
      opacity: 1;
      -webkit-transform: none;
              transform: none;
      -webkit-transition-delay: 0;
              transition-delay: 0; }
    nav ul {
      font-size: 0;
      padding: 0;
      margin: 0;
      height: 100%;
      display: inline-block;
      position: absolute;
      right: 10%;
      top: 0; }
    nav li {
      border-top: none;
      display: inline-block;
      position: relative;
      top: 18%;
      height: 82%; }
      nav li:hover {
        z-index: 1;
        background: -webkit-gradient(linear, left bottom, left top, from(#618be1), to(rgba(97, 139, 225, 0)));
        background: linear-gradient(to top, #618be1, rgba(97, 139, 225, 0)); }
    nav .current-page {
      z-index: 1;
      display: inline-block;
      background-color: white;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
      nav .current-page a {
        color: #366CD9; }
      nav .current-page:hover {
        background: white; }
        nav .current-page:hover a {
          color: #366CD9;
          cursor: default; }
    nav a {
      display: inline-block;
      padding: 10px 10px 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 100%;
      font-size: 22px;
      font-weight: bold; }
      nav a:hover {
        background-color: transparent; } }
/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/
main {
  margin-top: 100px;
  padding: 3%;
  position: relative; }

@media only screen and (-webkit-max-device-pixel-ratio: 1.9), only screen and (max-resolution: 1.9dppx), only screen and (min-width: 1081px) {
  main {
    width: 80%;
    margin: 60px auto 0; } }
/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
footer {
  background-color: #282b34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 120px;
  padding: 0 3%;
  overflow: hidden; }
  footer a {
    color: white;
    text-decoration: none; }

.copyright {
  vertical-align: middle; }

.btn-social {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  vertical-align: middle;
  background-color: #f1f1f1;
  background-size: contain;
  opacity: 0.75;
  font-size: 0; }
  .btn-social:hover {
    opacity: 1; }

.copyright:hover .btn-social-blocksdev {
  opacity: 1; }

.btn-social-in {
  background-image: url("../img/icons/social_linkedin.svg");
  margin-right: 15px; }

.btn-social-git {
  background-image: url("../img/icons/social_github-02.svg");
  margin-right: 15px; }

.btn-social-skype {
  background-image: url("../img/icons/icon-skype-01.svg"); }

.btn-social-blocksdev {
  background-image: url("../img/icons/logo.svg");
  background-color: transparent;
  margin-left: 10px; }

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media only screen and (-webkit-max-device-pixel-ratio: 1.9), only screen and (max-resolution: 1.9dppx), only screen and (min-width: 1081px) {
  footer {
    line-height: 75px;
    padding: 0 10%; }

  .btn-social {
    width: 50px;
    height: 50px; } }
/*
██████   ██████  ██████  ████████ ███████  ██████  ██      ██  ██████
██   ██ ██    ██ ██   ██    ██    ██      ██    ██ ██      ██ ██    ██
██████  ██    ██ ██████     ██    █████   ██    ██ ██      ██ ██    ██
██      ██    ██ ██   ██    ██    ██      ██    ██ ██      ██ ██    ██
██       ██████  ██   ██    ██    ██       ██████  ███████ ██  ██████
*/
.portfolio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .portfolio-section-image {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 96%; }
  .portfolio-section-description {
    padding-right: 50px;
    margin-bottom: 50px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -ms-flex-item-align: auto;
        align-self: auto; }

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media only screen and (-webkit-max-device-pixel-ratio: 1.9), only screen and (max-resolution: 1.9dppx), only screen and (min-width: 1081px) {
  .portfolio-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px; }
    .portfolio-section-image {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      width: 450px;
      margin-right: 20px;
      margin-bottom: 20px; }
    .portfolio-section-description {
      padding-right: 0;
      margin-bottom: 50px;
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 400px;
              flex: 1 1 400px;
      -ms-flex-item-align: auto;
          align-self: auto; }
    .portfolio-section h2 {
      margin-top: 0; } }
/*
██████  ██       ██████   ██████
██   ██ ██      ██    ██ ██
██████  ██      ██    ██ ██   ███
██   ██ ██      ██    ██ ██    ██
██████  ███████  ██████   ██████
*/
.blog-post h2 {
  margin-bottom: 0; }
.blog-post .subhead {
  margin-top: 4px;
  font-size: 32px;
  font-style: italic;
  color: gray; }
  .blog-post .subhead::before {
    content: " ";
    display: block;
    height: 1px;
    background-color: gray;
    width: 90%; }

figure {
  width: 100%;
  margin: 20px 0 30px; }
  figure img {
    width: 100%; }
  figure figcaption {
    font-size: 32px;
    font-style: italic;
    color: #343434; }

code {
  display: inline-block;
  padding: 1px 10px;
  font-size: 32px;
  text-align: center;
  background-color: #e2e9f9;
  border: 1px solid #1b418e; }

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media only screen and (-webkit-max-device-pixel-ratio: 1.9), only screen and (max-resolution: 1.9dppx), only screen and (min-width: 1081px) {
  .blog-post {
    margin-bottom: 40px; }
    .blog-post h2 {
      margin-bottom: 0; }
    .blog-post .subhead {
      margin-top: 4px;
      font-size: 14px;
      font-style: italic;
      color: gray; }
      .blog-post .subhead::before {
        content: " ";
        display: block;
        height: 1px;
        background-color: gray;
        width: 90%; }

  figure {
    width: 45%;
    margin: 20px auto 30px; }
    figure img {
      width: 100%; }
    figure figcaption {
      font-size: 14px;
      font-style: italic;
      color: #343434; }

  code {
    display: inline-block;
    padding: 1px 10px;
    font-size: 14px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    background-color: #e2e9f9;
    border: 1px solid #1b418e; } }
/*
███████ ███    ██ ██ ██████  ██████  ███████ ████████
██      ████   ██ ██ ██   ██ ██   ██ ██         ██
███████ ██ ██  ██ ██ ██████  ██████  █████      ██
     ██ ██  ██ ██ ██ ██      ██      ██         ██
███████ ██   ████ ██ ██      ██      ███████    ██
*/
.snippet {
  margin-bottom: 7%; }
  .snippet h2 {
    margin-top: 100px; }
    .snippet h2::after {
      content: " ";
      display: block;
      height: 1px;
      background-color: gray;
      width: 90%; }
  .snippet iframe {
    width: 67%;
    height: 300px;
    margin-bottom: 110px;
    border: none;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media only screen and (-webkit-max-device-pixel-ratio: 1.9), only screen and (max-resolution: 1.9dppx), only screen and (min-width: 1081px) {
  .snippet {
    margin-bottom: 0; }
    .snippet h2 {
      margin-top: 40px; }
      .snippet h2::after {
        content: " ";
        display: block;
        height: 1px;
        background-color: gray;
        width: 90%; }
    .snippet iframe {
      width: 100%;
      height: 600px;
      margin-bottom: 20px;
      border: 1px solid gray;
      -webkit-transform: none;
              transform: none;
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0; } }
