@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');

$header-color: #366CD9;
$footer-color: #282b34;
$desktop-min-width: 860px;
$desktop-HD-4K: "only screen and (max-resolution: 1.9dppx),
only screen and (min-width: 1081px)";
/*
This website was created with only 2.5 basic layouts in mind:
Mobile: intended for mobile devices with HD screens, default style (to view use chrome dev-tools, toggle device toolbar, set device type to mobile)
Desktop main: intended for regular PCs with HD and 4K displays, secondary style, uses media queries based on screen dppx ratio, min-width
Desktop portfolio: this section of the website changes it's layout based on the width of the viewport using some of the display: flex properties.
*/
body {
	min-width: $desktop-min-width;
  margin: 0;
}
// Font-families & default (mobile) font-sizes
* {
	font-family: "Roboto", Arial, sans-serif;
  font-size: 36px;
	text-size-adjust: none;
}
h1 {font-size: 48px;}
h2 {font-size: 48px;}
h3 {
	font-size: 36px;
	margin-bottom: 4px;
}
code {font-family: 'Source Code Pro', monospace;}
p {
	line-height: 1.4;
}
.btn-link {
	font-weight: bold;
	padding: 2.5% 5%;
	margin-right: 3%;
	display: inline-block;
	border: 5px solid $header-color;
	border-radius: 15px;
	color: white;
	background-color: $header-color;
	text-decoration: none;
	transition: all ease-in .125s;
	&:hover {
		color: $header-color;
		background-color: white;
	}
	&:active {
		color: white;
		background-color: darken($header-color, 15%);
		box-shadow: inset 0px 0px 10px 1px $header-color;
	}
}
.headshot {
	float: left;
	width: 220px;
	background-color: white;
	border: 2px solid gray;
	padding: 10px;
	margin: 5px 20px 10px 0;
}
.hire-me {
	display: block;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}
// Desktop font sizes and btn-link style
@media #{$desktop-HD-4K} {
	* {
		font-size: 16px;
	}
	h1 {font-size: 22px;}
	h2 {font-size: 22px;}
	h3 {font-size: 16px;}
	.btn-link {
		padding: 10px;
		margin-right: 10px;
		border: 2px solid $header-color;
		border-radius: 5px;
	}
	.headshot {
		width: 160px;
		border: 1px solid gray;
		padding: 5px;
	}
	.hire-me {
		display: block;
		width: 200px;
		margin: 0 auto;
		text-align: center;
	}
}

/*
██   ██ ███████  █████  ██████  ███████ ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
███████ █████   ███████ ██   ██ █████   ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
██   ██ ███████ ██   ██ ██████  ███████ ██   ██
*/
header {
	z-index: 10;
  position: fixed;
  top: 0;
  line-height: 100px;
  width: 100%;
  background-color: $header-color;
  h1 {
    margin: 0;
    display: inline-block;
    position: relative;
    left: calc(3% + 100px);
    color: white;
  }
  .menu {
    font-size: 0;
    display: block;
    width: 75px;
    height: 75px;
    left: 3%;
    top: 12.5px;
    position: absolute;
    vertical-align: middle;
		border: none;
		background-color: transparent;
    background-image: url("../img/icons/menu-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
	.header-logo {
		position: absolute;
		display: inline-block;
		width: 75px;
		height: 75px;
		top: 12.5px;
		right: 3%;
		font-size: 0;
		background-image: url("../img/icons/logo.svg");
		background-size: contain;
	}
}
nav {
	position: absolute;
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  background-color: $header-color;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
  width: 60%;
  top: 102px;
	&.show {
		visibility: visible;
	  z-index: 1;
		opacity: 1;
	  transform: translateY(0%);
	  transition-delay: 0s, 0s, 0.3s;
	}
  ul{
    padding: 0 8%;
    margin: 0;
  }
  li {
    list-style: none;
		border-top: 4px groove lighten($header-color, 10%);
  }
	.current-page {
		display: none;
	}
  a {
    display: block;
    padding: 0.5% 3% 0.5% 88px;
    color: white;
    font-size: 44px;
    font-weight: normal;
    text-decoration: none;
  }
}

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media #{$desktop-HD-4K} {
	header {
		z-index: 10;
	  position: fixed;
	  top: 0;
		line-height: normal;
	  height: 75px;
		min-width: $desktop-min-width;
	  background-color: $header-color;
		&::after {
			height: 12px;
			width: 100%;
			content: " ";
			position: absolute;
			bottom: 0;
			background: $header-color;
			background: linear-gradient(bottom, rgba(0,0,0,.2), transparent);
		}
	  h1 {
	    display: none;
	  }
	  .menu {
	    display: none;
	  }
		.header-logo {
			position: absolute;
			display: inline-block;
			width: 50px;
			height: 50px;
			top: 12.5px;
			left: 10%;
			font-size: 0;
			background-image: url("../img/icons/logo.svg");
			background-size: contain;
			&::after {
				content: "BlocksDev.com";
				font-size: 22px;
				color: white;
				display: inline-block;
				position: absolute;
				left: 56px;
				top: 12.5px;
			}
		}
	}
	nav {
		position: static;
		top: 0;
		right: 0;
		visibility: visible;
		z-index: 1;
		opacity: 1;
		transform: none;
	  transition: none;
	  background-color: transparent;
	  box-shadow: none;
		height: 100%;
		&.show {
			visibility: visible;
		  z-index: 1;
			opacity: 1;
		  transform: none;
		  transition-delay: 0;
		}
	  ul {
			font-size: 0;
	    padding: 0;
	    margin: 0;
			height: 100%;
			display: inline-block;
			position: absolute;
			right: 10%;
			top: 0;
	  }
	  li {
			border-top: none;
			display: inline-block;
			position: relative;
			top: 18%;
			height: 82%;
			&:hover {
				z-index: 1;
				background: linear-gradient(to top, lighten($header-color, 10%),
				fade-out(lighten($header-color, 10%),1));
			}
	  }
		.current-page {
			z-index: 1;
			display: inline-block;
			background-color: white;
			border-top-left-radius: 6px;
	  	border-top-right-radius: 6px;
			a {
				color: $header-color;
			}
			&:hover {
				background: white;
				a {
					color: $header-color;
					cursor: default;
				}
			}
		}
	  a {
	    display: inline-block;
	    padding: 10px 10px 0;
			box-sizing: border-box;
			height: 100%;
	    font-size: 22px;
			font-weight: bold;
	    &:hover {
				background-color: transparent;
	    }
	  }
	}
}


/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/
main {
  margin-top: 100px;
  padding: 3%;
	position: relative;
}
@media #{$desktop-HD-4K} {
	main {
		width: 80%;
		margin: 60px auto 0;
	}
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
footer {
  background-color: $footer-color;
	display: flex;
	justify-content: space-between;
	align-content: center;
	line-height: 120px;
	padding: 0 3%;
	overflow: hidden;
  a {
    color: white;
    text-decoration: none;
  }
}
.copyright {
	vertical-align: middle;
}
.btn-social {
	display: inline-block;
	width: 75px;
	height: 75px;
	border-radius: 5px;
	vertical-align: middle;
	background-color:#f1f1f1;
	background-size: contain;
	opacity: 0.75;
  font-size: 0;
	&:hover {
		opacity: 1;
	}
}
.copyright:hover .btn-social-blocksdev {
	opacity: 1;
}
.btn-social-in{
  background-image: url("../img/icons/social_linkedin.svg");
	margin-right: 15px;
}
.btn-social-git{
	background-image: url("../img/icons/social_github-02.svg");
	margin-right: 15px;
}
.btn-social-skype{
  background-image: url("../img/icons/icon-skype-01.svg");
}
.btn-social-blocksdev {
	background-image: url("../img/icons/logo.svg");
	background-color: transparent;
	margin-left: 10px;
}

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media #{$desktop-HD-4K} {
	footer {
		line-height: 75px;
		padding: 0 10%;
	}
	.btn-social {
		width: 50px;
		height: 50px;
	}
}


/*
██████   ██████  ██████  ████████ ███████  ██████  ██      ██  ██████
██   ██ ██    ██ ██   ██    ██    ██      ██    ██ ██      ██ ██    ██
██████  ██    ██ ██████     ██    █████   ██    ██ ██      ██ ██    ██
██      ██    ██ ██   ██    ██    ██      ██    ██ ██      ██ ██    ██
██       ██████  ██   ██    ██    ██       ██████  ███████ ██  ██████
*/
.portfolio-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	&-image {
		flex: auto;
		width: 96%;
	}
	&-description {
		padding-right: 50px;
	  margin-bottom: 50px;
		flex: auto;
	  align-self: auto;
	}
}

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media #{$desktop-HD-4K} {
	.portfolio-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 20px;
		margin-bottom: 20px;
		&-image {
			flex: auto;
			width: 450px;
			margin-right: 20px;
			margin-bottom: 20px;
		}
		&-description {
			padding-right: 0;
		  margin-bottom: 50px;
			order: 0;
		  flex: 1 1 400px;
		  align-self: auto;
		}
		h2 {
			margin-top: 0;
		}
	}
}


/*
██████  ██       ██████   ██████
██   ██ ██      ██    ██ ██
██████  ██      ██    ██ ██   ███
██   ██ ██      ██    ██ ██    ██
██████  ███████  ██████   ██████
*/
.blog-post {
	h2 {
		margin-bottom: 0;
	}
	.subhead {
		margin-top: 4px;
		font-size: 32px;
		font-style: italic;
		color: gray;
		&::before {
			content: " ";
			display: block;
			height: 1px;
			background-color: gray;
			width: 90%;
		}
	}
}
figure {
	width: 100%;
	margin: 20px 0 30px;
	img {
		width: 100%;
	}
	figcaption {
		font-size: 32px;
		font-style: italic;
		color: darken(gray, 30%);
	}
}
code {
	display: inline-block;
	padding: 1px 10px;
	font-size: 32px;
	text-align: center;
	background-color: lighten($header-color, 40%);
	border: 1px solid darken($header-color, 20%);
}

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media #{$desktop-HD-4K} {
	.blog-post {
		margin-bottom: 40px;
		h2 {
			margin-bottom: 0;
		}
		.subhead {
			margin-top: 4px;
			font-size: 14px;
			font-style: italic;
			color: gray;
			&::before {
				content: " ";
				display: block;
				height: 1px;
				background-color: gray;
				width: 90%;
			}
		}
	}
	figure {
		width: 45%;
		margin: 20px auto 30px;
		img {
			width: 100%;
		}
		figcaption {
			font-size: 14px;
			font-style: italic;
			color: darken(gray, 30%);
		}
	}
	code {
		display: inline-block;
		padding: 1px 10px;
		font-size: 14px;
		text-align: center;
		font-family: 'Source Code Pro', monospace;
		background-color: lighten($header-color, 40%);
		border: 1px solid darken($header-color, 20%);
	}
}



/*
███████ ███    ██ ██ ██████  ██████  ███████ ████████
██      ████   ██ ██ ██   ██ ██   ██ ██         ██
███████ ██ ██  ██ ██ ██████  ██████  █████      ██
     ██ ██  ██ ██ ██ ██      ██      ██         ██
███████ ██   ████ ██ ██      ██      ███████    ██
*/
.snippet {
	margin-bottom: 7%;
	h2 {
		margin-top: 100px;
		&::after {
			content: " ";
			display: block;
			height: 1px;
			background-color: gray;
			width: 90%;
		}
	}
	iframe {
		width: 67%;
		height: 300px;
		margin-bottom: 110px;
		border: none;
		transform: scale(1.5);
		transform-origin: 0 0;
	}
}

/*
██████  ███████ ███████       ██   ██ ██████        ██   ██ ██   ██
██   ██ ██      ██            ██   ██ ██   ██       ██   ██ ██  ██
██████  █████   ███████ █████ ███████ ██   ██ █████ ███████ █████
██   ██ ██           ██       ██   ██ ██   ██            ██ ██  ██
██   ██ ███████ ███████       ██   ██ ██████             ██ ██   ██
*/
@media #{$desktop-HD-4K} {
	.snippet {
		margin-bottom: 0;
		h2 {
			margin-top: 40px;
			&::after {
				content: " ";
				display: block;
				height: 1px;
				background-color: gray;
				width: 90%;
			}
		}
		iframe {
			width: 100%;
			height: 600px;
			margin-bottom: 20px;
			border: 1px solid gray;
			transform: none;
			transform-origin: 0 0;
		}
	}
}
