$header-color: black;
$footer-color: #242424;
$background-color: #070707;
$dark-golden: #663d15;

.center-wrap {
  margin: 0 auto;
	width: 940px;
}
body {
  font-family: "PT Sans Narrow", "Arial", serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: $background-color;
  background-image: url("../img/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  // additional styling for inner pages
  &.inner {
    background-image: none;
    background-color: white;
    background-image: url("../img/light-background.jpg");
    background-size: auto;
    background-repeat: repeat;
    main {
      color: black;
    }
    footer:before {
      z-index: 1;
      content: " ";
      height: 20px;
      width: 100%;
      background:
      linear-gradient(top, rgba(0,0,0,.5), rgba(0,0,0,0));
      position: absolute;
    }
  }
}
main {
  position: relative;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 34px;
}
.list-styling-diamond {
  list-style: none;
  padding-left: 2px;
}
.list-item-style-diamond-regular {
  line-height: 24px;
  &:before {
    width: 7px;
    height: 7px;
    margin-right: 8px;
    margin-top: 8px;
    background-color: black;
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    bottom: 2px;
    content: " ";
  }
}
.list-item-style-diamond-spaced {
  @extend .list-item-style-diamond-regular;
  line-height: 36px;
}
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.sprite-checkbox_0 {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}
.sprite-checkbox_1 {
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}
.sprite-login_icon {
    width: 18px;
    height: 16px;
    background-position: -67px -37px;
}
.sprite-modal_close {
    width: 23px;
    height: 23px;
    background-position: -67px -63px;
}
.sprite-modal_login {
    width: 15px;
    height: 15px;
    background-position: -109px -5px;
}
.sprite-modal_psw {
    width: 15px;
    height: 17px;
    background-position: -109px -30px;
}
.sprite-radio_0 {
    width: 20px;
    height: 20px;
    background-position: -100px -57px;
}
.sprite-radio_1 {
    width: 20px;
    height: 20px;
    background-position: -5px -87px;
}

// HEADER

header {
  height: 72px;
  width: 100%;
  background-color: $header-color;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 60px;
}
.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    order: 0;
		flex: 0 1 auto;
		align-self: auto;
    li {
      display: inline-block;
      position: relative;
      &:hover {background-color: #242424}
      a {
        display: block;
        position: relative;
        padding: 0 20px 0 20px;
        width: 100%;
        line-height: 72px;
        text-align: left;
      }
      span {position: relative}
      &.active a span:after {
        display: block;
        content: " ";
        height: 4px;
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        position: absolute;
        bottom: -26px;
      }
    }
  }
  .login {
    order: 0;
		flex: 0 1 auto;
		align-self: auto;
    text-align: center;

    a {
      display: block;
      line-height: 72px;
      padding: 0 20px 0 30px;
    }
    &:hover {background-color: #242424}
    a:before {
      @extend .sprite;
      top: 2px;
      right: 14px;
      width: 18px;
      height: 16px;
      position: relative;
      background-position: -67px -37px;
      opacity: .6;
      content: " ";
    }
    &:hover a:before {opacity: 1;}
  }
}

// BODY

.intro-features-container {
  width: 100%;
  margin-bottom: 86px;
}
.intro {
  width: 368px;
  height: 152px;
  margin: 0 auto 80px;
  background-image: url("../img/borodinsky_logo.png");
}
.feature {
  width: 300px;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
  font-weight: bold;
  h2:after {
    margin: 20px auto;
    display: block;
    content: " ";
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
  }
}
.container {
  width: 940px;
  margin: 0 auto 34px;
  padding: 55px 60px 0;
  box-sizing: border-box;
  background-color: white;
  background-image: url("../img/light-background.jpg");
  background-size: auto;
  background-repeat: repeat;
  color: black;
}
.nav-button {
  width: 140px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: white;
  &:not(:last-child) {
    margin-right: 17px;
  }
  &:hover {
    background-color: $dark-golden;
  }
}
.news,
.gallery,
.contact,
.signup {
  width: 300px;
  height: 100%;
  // box-shadow: inset 0 0 0 1px black;
  display: inline-block;
  vertical-align: text-top;
  font-weight: bold;
  margin: 0 18px 55px;
  box-sizing: border-box;
  p {
    line-height: 24px;
    margin-bottom: 34px;
  }
  .news-date {
    text-transform: lowercase;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 34px;
  }
}
.spacer {
  // shadow-ish divider goes here
  display: inline-block;
  width: 140px;
  height: 100%;
  margin: 0;
  position: relative;
  content: "x";
  span:before {
    position: absolute;
    display: block;
    width: 10px;
    height: 240px;
    top: 50px;
    left: 50%;
    // background-color: white;
    box-shadow: -3px 0 10px -4px black;
    content: " ";
  }
}
.gallery-image {
  height: 188px;
  width: 286px;
  overflow: hidden;
  margin: 0 auto 44px;
  img {
    height: 100%;
    margin-top: 10px;
    background-color: gray;
  }
}
.text-input {
  margin: 0;
  padding: 14px;
  width: 140px;
  height: 43px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid black;
  &:nth-child(odd) {
    margin-right: 17px;
    margin-bottom: 20px;
  }
  &:focus {
    border: 2px solid $dark-golden;
    outline: none;
  }
}
.submit-btn {
  @extend .nav-button;
  text-transform: uppercase;
  border: 0;
  width: 300px;
}
.modal-login {
  display: none;
  width: 460px;
  height: 385px;
  box-sizing: border-box;
  padding: 50px 80px 58px;
  margin: 0 auto;
  z-index: 2;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  font-weight: bold;
  .text-input,
  .nav-button {
    width: 300px;
  }
}
.modal-login-close,
.modal-map-close {
  @extend .sprite;
  position: absolute;
  top: 0;
  right: -38px;
  width: 23px;
  height: 23px;
  background-position: -67px -63px;
  cursor: pointer;
  content: " ";
}
.login-input {
  @extend .text-input;
  margin-top: 0;
  position: relative;
  &#userid {
    margin-bottom: 9px;
  }
  &#psw {margin-bottom: 15px;}
}
label[for="userid"] {position: relative}
label[for="userid"]:after {
  @extend .sprite;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 275px;
  position: absolute;
  background-position: -109px -5px;
  content: " ";
}
label[for="psw"] {position: relative}
label[for="psw"]:after {
  @extend .sprite;
  width: 15px;
  height: 17px;
  top: 1px;
  left: 275px;
  position: absolute;
  background-position: -109px -30px;
  content: " ";
}
.remember-restorepass {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  input {
    order: 0;
		flex: 1 1 auto;
		align-self: auto;
  }
  a {
    order: 0;
		flex: 0 1 auto;
		align-self: auto;
    color: black;
    text-align: right;
  }
}
input[type="checkbox"] + label:before {
  @extend .sprite;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: -5px;
  vertical-align: middle;
  background-position: -5px -5px;
  content: " "
}
input[type="checkbox"] + label:hover {
  color: $dark-golden;
}
input[type="checkbox"]:checked + label:before {
  @extend .sprite;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: -5px;
  vertical-align: middle;
  background-position: -35px -5px;
  content: " "
}
input[type="checkbox"]:disabled + label {opacity: .5;}
input[type="checkbox"] {display: none}

.modal-map {
  display: none;
  width: 780px;
  height: 574px;
  box-sizing: border-box;
  padding: 7px;
  margin: 0 auto;
  z-index: 2;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  background-color: white;
}
.modal-show {
  display: block;
}

// FOOTER

footer {
  height: 190px;
  width: 100%;
  background-color: $footer-color;
  background-image: url("../img/dark-background.jpg");
  position: relative;
  .center-wrap {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
    .adress {
      order: 0;
  		flex: 0 1 auto;
  		align-self: auto;
      width: 310px;
      p {
        line-height: 24px;
        margin: 0;
      }
      a {
        color: inherit;
      }
    }
    .social {
      order: 0;
  		flex: 0 1 auto;
  		align-self: auto;
      text-align: center;
      width: 310px;
      a {
        width: 43px;
        line-height: 43px;
        text-decoration: none;
        font-size: 0;
        color: white;
        background-color: black;
        display: inline-block;
        &:not(:last-child) {margin-right: 6px;}
        span {position: relative; top: 10px;}
        &:hover {background-color: white;}
        &:hover .sprite-vk_icon {
          background-position: -35px -110px;
        }
        &:hover .sprite-facebook_icon {
          background-position: -87px -5px;
        }
        &:hover .sprite-instagram_icon {
          background-position: -36px -37px;
        }
      }
    }
    .copyright {
      order: 0;
  		flex: 0 1 auto;
  		align-self: auto;
      text-align: center;
      width: 310px;
      div {
        position: relative;
        right:-85px
      }
      a:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
.sprite-facebook_icon {
    width: 12px;
    height: 22px;
    background-position: -65px -5px;
}
.sprite-facebook_icon_black {
    width: 12px;
    height: 22px;
    background-position: -87px -5px;
}
.sprite-instagram_icon {
    width: 21px;
    height: 22px;
    background-position: -5px -37px;
}
.sprite-instagram_icon_black {
    width: 21px;
    height: 22px;
    background-position: -36px -37px;
}
.sprite-vk_icon {
    width: 25px;
    height: 22px;
    background-position: -100px -84px;
}
.sprite-vk_icon_black {
    width: 25px;
    height: 22px;
    background-position: -35px -110px;
}

// inner pages

  // item page

nav li .barbershop {
  display: inline-block;
  width: 111px;
  height: 24px;
  font-size: 0;
  vertical-align: middle;
  background-image: url("../img/barbershop_logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.header-breadcrumbs {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 60px;
  .breadcrumbs {padding: 0}
  li {
    display: inline-block;
    text-decoration: none;
    &:last-child {color: #aba9a7;}
    a {
      text-decoration: none;
      color: black;
    }
    &:not(:last-child):after {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 14px;
      transform: rotate(45deg);
      content: " ";
      background-color: black;
    }
  }
}
.photos-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 49px;
}
.item-photos {
  order: 0;
  flex: 0 1 auto;
	align-self: auto;
  width: 460px;
  .item-photo-primary {margin-bottom: 21px;}
  .item-photo-secondary:not(:last-child) {margin-right: 17px;}
  img {box-shadow: 0 0 8px 2px rgba(0,0,0,.2);}
}
.item-description {
  order: 0;
  flex: 0 1 auto;
	align-self: auto;
  width: 390px;
  p {
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 42px;
  }
}
.availability-itemnum {
  display: flex;
  justify-content: space-between;
  .availability,
  .itemnum {
    order: 0;
    flex: 0 1 auto;
  	align-self: auto;
  }
  .itemnum {color: #aeaeae;}
}
.price-buy {
  line-height: 43px;
  margin-bottom: 68px;
  display: inline-block;
  background-color: #e5e5e5;
  .price {
    box-sizing: border-box;
    padding: 16px 25px;
    display: inline;
  }
  .buy {
    @extend .nav-button;
    width: 78px;
  }
}

  // price page

h3 {
  font-size: 48px;
  margin: 0 auto 74px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:before,
  &:after {
    order: 0;
    flex: 0 1 auto;
  	align-self: auto;
    display: inline-block;
    background-color: black;
    height: 2px;
    width: 160px;
    content: " ";
  }
}
.lotions-prices,
.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
  p {line-height: 24px;}
}
.lotions,
.about-us-paragraph-1 {
  width: 380px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.prices,
.about-us-paragraph-2 {
  width: 460px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.prices td {
  border: 2px solid black;
  padding: 14px 17px;
  width: 230px;
  &:nth-child(even) {
    text-align: center;
  }
}

//  Shop page
.filter-item-catalogue-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.filters {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 220px;
  h2 {
    font-size: 24px;
    margin-bottom: 35px;
  }
}
.items-catalogue {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 700px;
}
.manufacturers {
  margin-bottom: 55px;
  label {
    display: block;
    &:not(:last-child) {margin-bottom: 17px;}
  }
}
.item-groups {
  min-height: 256px;
  position: relative;
  input[type="submit"] {
    @extend .nav-button;
    text-transform: uppercase;
    border: 0;
    width: 112px;
    position: absolute;
    bottom: 0;
  }
}
.items-catalogue {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  article {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 220px;
    height: 286px;
    position: relative;
    box-shadow: 0 0 6px 0px rgba(0,0,0,.3);
    p {margin: 0 16px;}
    .price-buy {
      position: absolute;
      bottom: 15px;
      margin: 0 15px;
      width: 187px;
      .buy {
        position: absolute;
        right: 0;
      }
    }
  }
}
.items-catalogue-pages {
  // display: flex;
  // justify-content: center;
  margin-left: 240px;
  margin-bottom: 49px;
  a {
    // order: 0;
    // flex: 0 1 auto;
    // align-self: auto;
    @extend .nav-button;
    width: 43px;
    &.current-page {
      background-color: white;
      color: black;
    }
    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}
