.center-wrap {
  margin: 0 auto;
  width: 940px; }

body {
  font-family: "PT Sans Narrow", "Arial", serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #070707;
  background-image: url("../img/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }
  body.inner {
    background-image: none;
    background-color: white;
    background-image: url("../img/light-background.jpg");
    background-size: auto;
    background-repeat: repeat; }
    body.inner main {
      color: black; }
    body.inner footer:before {
      z-index: 1;
      content: " ";
      height: 20px;
      width: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
      background: linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
      position: absolute; }

main {
  position: relative; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 34px; }

.list-styling-diamond {
  list-style: none;
  padding-left: 2px; }

.list-item-style-diamond-regular, .list-item-style-diamond-spaced {
  line-height: 24px; }
  .list-item-style-diamond-regular:before, .list-item-style-diamond-spaced:before {
    width: 7px;
    height: 7px;
    margin-right: 8px;
    margin-top: 8px;
    background-color: black;
    display: inline-block;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
    bottom: 2px;
    content: " "; }

.list-item-style-diamond-spaced {
  line-height: 36px; }

.sprite, .header-container .login a:before, .modal-login-close,
.modal-map-close, label[for="userid"]:after, label[for="psw"]:after, input[type="checkbox"] + label:before, input[type="checkbox"]:checked + label:before {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }

.sprite-checkbox_0 {
  width: 20px;
  height: 20px;
  background-position: -5px -5px; }

.sprite-checkbox_1 {
  width: 20px;
  height: 20px;
  background-position: -35px -5px; }

.sprite-login_icon {
  width: 18px;
  height: 16px;
  background-position: -67px -37px; }

.sprite-modal_close {
  width: 23px;
  height: 23px;
  background-position: -67px -63px; }

.sprite-modal_login {
  width: 15px;
  height: 15px;
  background-position: -109px -5px; }

.sprite-modal_psw {
  width: 15px;
  height: 17px;
  background-position: -109px -30px; }

.sprite-radio_0 {
  width: 20px;
  height: 20px;
  background-position: -100px -57px; }

.sprite-radio_1 {
  width: 20px;
  height: 20px;
  background-position: -5px -87px; }

header {
  height: 72px;
  width: 100%;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 60px; }

.header-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-container a {
    text-decoration: none;
    color: inherit; }
  .header-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto; }
    .header-container ul li {
      display: inline-block;
      position: relative; }
      .header-container ul li:hover {
        background-color: #242424; }
      .header-container ul li a {
        display: block;
        position: relative;
        padding: 0 20px 0 20px;
        width: 100%;
        line-height: 72px;
        text-align: left; }
      .header-container ul li span {
        position: relative; }
      .header-container ul li.active a span:after {
        display: block;
        content: " ";
        height: 4px;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-color: white;
        position: absolute;
        bottom: -26px; }
  .header-container .login {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: center; }
    .header-container .login a {
      display: block;
      line-height: 72px;
      padding: 0 20px 0 30px; }
    .header-container .login:hover {
      background-color: #242424; }
    .header-container .login a:before {
      top: 2px;
      right: 14px;
      width: 18px;
      height: 16px;
      position: relative;
      background-position: -67px -37px;
      opacity: .6;
      content: " "; }
    .header-container .login:hover a:before {
      opacity: 1; }

.intro-features-container {
  width: 100%;
  margin-bottom: 86px; }

.intro {
  width: 368px;
  height: 152px;
  margin: 0 auto 80px;
  background-image: url("../img/borodinsky_logo.png"); }

.feature {
  width: 300px;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
  font-weight: bold; }
  .feature h2:after {
    margin: 20px auto;
    display: block;
    content: " ";
    width: 20px;
    height: 20px;
    background-color: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.container {
  width: 940px;
  margin: 0 auto 34px;
  padding: 55px 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  background-image: url("../img/light-background.jpg");
  background-size: auto;
  background-repeat: repeat;
  color: black; }

.nav-button, .submit-btn, .price-buy .buy, .item-groups input[type="submit"], .items-catalogue-pages a {
  width: 140px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: white; }
  .nav-button:not(:last-child), .submit-btn:not(:last-child), .price-buy .buy:not(:last-child), .item-groups input[type="submit"]:not(:last-child), .items-catalogue-pages a:not(:last-child) {
    margin-right: 17px; }
  .nav-button:hover, .submit-btn:hover, .price-buy .buy:hover, .item-groups input[type="submit"]:hover, .items-catalogue-pages a:hover {
    background-color: #663d15; }

.news,
.gallery,
.contact,
.signup {
  width: 300px;
  height: 100%;
  display: inline-block;
  vertical-align: text-top;
  font-weight: bold;
  margin: 0 18px 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .news p,
  .gallery p,
  .contact p,
  .signup p {
    line-height: 24px;
    margin-bottom: 34px; }
  .news .news-date,
  .gallery .news-date,
  .contact .news-date,
  .signup .news-date {
    text-transform: lowercase;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 34px; }

.spacer {
  display: inline-block;
  width: 140px;
  height: 100%;
  margin: 0;
  position: relative;
  content: "x"; }
  .spacer span:before {
    position: absolute;
    display: block;
    width: 10px;
    height: 240px;
    top: 50px;
    left: 50%;
    -webkit-box-shadow: -3px 0 10px -4px black;
            box-shadow: -3px 0 10px -4px black;
    content: " "; }

.gallery-image {
  height: 188px;
  width: 286px;
  overflow: hidden;
  margin: 0 auto 44px; }
  .gallery-image img {
    height: 100%;
    margin-top: 10px;
    background-color: gray; }

.text-input, .login-input {
  margin: 0;
  padding: 14px;
  width: 140px;
  height: 43px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black; }
  .text-input:nth-child(odd), .login-input:nth-child(odd) {
    margin-right: 17px;
    margin-bottom: 20px; }
  .text-input:focus, .login-input:focus {
    border: 2px solid #663d15;
    outline: none; }

.submit-btn {
  text-transform: uppercase;
  border: 0;
  width: 300px; }

.modal-login {
  display: none;
  width: 460px;
  height: 385px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 80px 58px;
  margin: 0 auto;
  z-index: 2;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  font-weight: bold; }
  .modal-login .text-input, .modal-login .login-input,
  .modal-login .nav-button,
  .modal-login .submit-btn,
  .modal-login .price-buy .buy,
  .price-buy .modal-login .buy,
  .modal-login .item-groups input[type="submit"],
  .item-groups .modal-login input[type="submit"],
  .modal-login .items-catalogue-pages a,
  .items-catalogue-pages .modal-login a {
    width: 300px; }

.modal-login-close,
.modal-map-close {
  position: absolute;
  top: 0;
  right: -38px;
  width: 23px;
  height: 23px;
  background-position: -67px -63px;
  cursor: pointer;
  content: " "; }

.login-input {
  margin-top: 0;
  position: relative; }
  .login-input#userid {
    margin-bottom: 9px; }
  .login-input#psw {
    margin-bottom: 15px; }

label[for="userid"] {
  position: relative; }

label[for="userid"]:after {
  width: 15px;
  height: 15px;
  top: 2px;
  left: 275px;
  position: absolute;
  background-position: -109px -5px;
  content: " "; }

label[for="psw"] {
  position: relative; }

label[for="psw"]:after {
  width: 15px;
  height: 17px;
  top: 1px;
  left: 275px;
  position: absolute;
  background-position: -109px -30px;
  content: " "; }

.remember-restorepass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px; }
  .remember-restorepass input {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto; }
  .remember-restorepass a {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto;
    color: black;
    text-align: right; }

input[type="checkbox"] + label:before {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: -5px;
  vertical-align: middle;
  background-position: -5px -5px;
  content: " "; }

input[type="checkbox"] + label:hover {
  color: #663d15; }

input[type="checkbox"]:checked + label:before {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: -5px;
  vertical-align: middle;
  background-position: -35px -5px;
  content: " "; }

input[type="checkbox"]:disabled + label {
  opacity: .5; }

input[type="checkbox"] {
  display: none; }

.modal-map {
  display: none;
  width: 780px;
  height: 574px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px;
  margin: 0 auto;
  z-index: 2;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  background-color: white; }

.modal-show {
  display: block; }

footer {
  height: 190px;
  width: 100%;
  background-color: #242424;
  background-image: url("../img/dark-background.jpg");
  position: relative; }
  footer .center-wrap {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-weight: bold; }
    footer .center-wrap .adress {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      -ms-flex-item-align: auto;
          align-self: auto;
      width: 310px; }
      footer .center-wrap .adress p {
        line-height: 24px;
        margin: 0; }
      footer .center-wrap .adress a {
        color: inherit; }
    footer .center-wrap .social {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      -ms-flex-item-align: auto;
          align-self: auto;
      text-align: center;
      width: 310px; }
      footer .center-wrap .social a {
        width: 43px;
        line-height: 43px;
        text-decoration: none;
        font-size: 0;
        color: white;
        background-color: black;
        display: inline-block; }
        footer .center-wrap .social a:not(:last-child) {
          margin-right: 6px; }
        footer .center-wrap .social a span {
          position: relative;
          top: 10px; }
        footer .center-wrap .social a:hover {
          background-color: white; }
        footer .center-wrap .social a:hover .sprite-vk_icon {
          background-position: -35px -110px; }
        footer .center-wrap .social a:hover .sprite-facebook_icon {
          background-position: -87px -5px; }
        footer .center-wrap .social a:hover .sprite-instagram_icon {
          background-position: -36px -37px; }
    footer .center-wrap .copyright {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      -ms-flex-item-align: auto;
          align-self: auto;
      text-align: center;
      width: 310px; }
      footer .center-wrap .copyright div {
        position: relative;
        right: -85px; }
      footer .center-wrap .copyright a:hover {
        background-color: white;
        color: black; }

.sprite-facebook_icon {
  width: 12px;
  height: 22px;
  background-position: -65px -5px; }

.sprite-facebook_icon_black {
  width: 12px;
  height: 22px;
  background-position: -87px -5px; }

.sprite-instagram_icon {
  width: 21px;
  height: 22px;
  background-position: -5px -37px; }

.sprite-instagram_icon_black {
  width: 21px;
  height: 22px;
  background-position: -36px -37px; }

.sprite-vk_icon {
  width: 25px;
  height: 22px;
  background-position: -100px -84px; }

.sprite-vk_icon_black {
  width: 25px;
  height: 22px;
  background-position: -35px -110px; }

nav li .barbershop {
  display: inline-block;
  width: 111px;
  height: 24px;
  font-size: 0;
  vertical-align: middle;
  background-image: url("../img/barbershop_logo.png");
  background-size: 100%;
  background-repeat: no-repeat; }

.header-breadcrumbs {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 60px; }
  .header-breadcrumbs .breadcrumbs {
    padding: 0; }
  .header-breadcrumbs li {
    display: inline-block;
    text-decoration: none; }
    .header-breadcrumbs li:last-child {
      color: #aba9a7; }
    .header-breadcrumbs li a {
      text-decoration: none;
      color: black; }
    .header-breadcrumbs li:not(:last-child):after {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 14px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      content: " ";
      background-color: black; }

.photos-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 49px; }

.item-photos {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      align-self: auto;
  width: 460px; }
  .item-photos .item-photo-primary {
    margin-bottom: 21px; }
  .item-photos .item-photo-secondary:not(:last-child) {
    margin-right: 17px; }
  .item-photos img {
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2); }

.item-description {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      align-self: auto;
  width: 390px; }
  .item-description p {
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 42px; }

.availability-itemnum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .availability-itemnum .availability,
  .availability-itemnum .itemnum {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto; }
  .availability-itemnum .itemnum {
    color: #aeaeae; }

.price-buy {
  line-height: 43px;
  margin-bottom: 68px;
  display: inline-block;
  background-color: #e5e5e5; }
  .price-buy .price {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px 25px;
    display: inline; }
  .price-buy .buy {
    width: 78px; }

h3 {
  font-size: 48px;
  margin: 0 auto 74px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  h3:before, h3:after {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto;
    display: inline-block;
    background-color: black;
    height: 2px;
    width: 160px;
    content: " "; }

.lotions-prices,
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 68px; }
  .lotions-prices p,
  .about-us p {
    line-height: 24px; }

.lotions,
.about-us-paragraph-1 {
  width: 380px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      align-self: auto; }

.prices,
.about-us-paragraph-2 {
  width: 460px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      align-self: auto; }

.prices td {
  border: 2px solid black;
  padding: 14px 17px;
  width: 230px; }
  .prices td:nth-child(even) {
    text-align: center; }

.filter-item-catalogue-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px; }

.filters {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      align-self: auto;
  width: 220px; }
  .filters h2 {
    font-size: 24px;
    margin-bottom: 35px; }

.items-catalogue {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      align-self: auto;
  width: 700px; }

.manufacturers {
  margin-bottom: 55px; }
  .manufacturers label {
    display: block; }
    .manufacturers label:not(:last-child) {
      margin-bottom: 17px; }

.item-groups {
  min-height: 256px;
  position: relative; }
  .item-groups input[type="submit"] {
    text-transform: uppercase;
    border: 0;
    width: 112px;
    position: absolute;
    bottom: 0; }

.items-catalogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .items-catalogue article {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto;
    width: 220px;
    height: 286px;
    position: relative;
    -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3); }
    .items-catalogue article p {
      margin: 0 16px; }
    .items-catalogue article .price-buy {
      position: absolute;
      bottom: 15px;
      margin: 0 15px;
      width: 187px; }
      .items-catalogue article .price-buy .buy {
        position: absolute;
        right: 0; }

.items-catalogue-pages {
  margin-left: 240px;
  margin-bottom: 49px; }
  .items-catalogue-pages a {
    width: 43px; }
    .items-catalogue-pages a.current-page {
      background-color: white;
      color: black; }
    .items-catalogue-pages a:not(:last-child) {
      margin-right: 7px; }
